<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- general parameter -->
	<arg name="robot_name" default="jethexa"/> # robot name
	<arg name="master_name" default="jethexa" />
	<arg name="tf_prefix" default="jethexa" />
	<arg name="odom_topic" default="odom/filtered"/> # odom topic
	<arg name="depth_camera_name" default="camera"/>  # depth camera name
	<arg name="rtabmap_map_path" default="~/.ros/rtabmap.db" />
	<arg name="map_topic" default="/map" />
	<arg name="map_frame" default="$(arg tf_prefix)/map" />
	<arg name="odom_frame" default="$(arg tf_prefix)/odom" />
	<arg name="base_frame" default="$(arg tf_prefix)/base_link"/>
	<arg name="move_base" default="move_base" />

	<group ns="$(arg robot_name)">
		<!-- Start the selected SLAM algorithm -->	
		<include file="$(find jethexa_slam)/launch/include/jethexa_slam_base_rtabmap.launch"></include>
		<include file="$(find jethexa_slam)/launch/include/rtabmap.launch" >
			<arg name="database_path" value="$(arg rtabmap_map_path)"/>
			<arg name="subscribe_scan" value="true"/>
			<arg name="depth_topic" value="/$(arg robot_name)/$(arg depth_camera_name)/depth/image_raw" />
			<arg name="rgb_topic" value="/$(arg robot_name)/$(arg depth_camera_name)/rgb/image_raw" />
			<arg name="camera_info_topic" value="/$(arg robot_name)/$(arg depth_camera_name)/rgb/camera_info" />
			<arg name="scan_topic" value="/$(arg robot_name)/scan"/>
	  		<arg name="map_topic" value="$(arg map_topic)"/>
	  		<arg name="map_frame" value="$(arg map_frame)"/>
			<arg name="odom_frame" value="$(arg odom_frame)"/>
			<arg name="base_frame" value="$(arg base_frame)"/>
			<arg name="move_base" value="$(arg move_base)"/>
			</include>
	</group>
</launch>
