<launch>
  <arg name="tf_prefix" default="" />
  <arg name="scan_topic" default="scan" />
  <arg name="lidar_type" default="$(optenv LIDAR_TYPE RPLIDAR_A1)"/> # Lidar model. Carry out the corresponding startup process according to the Lidar model
  <arg name="serial_port" default="/dev/ttyUSB0" /> # all serial devices
  <arg name="frame_id" default="laser_link" />
  <arg name="publish_tf" default="true" />
  <arg name="filter_enable" default="false" /> # whether to enable Lidar filter

  <!-- use RPLIDAR_A1 Lidar -->
  <group if="$(eval arg('lidar_type')=='RPLIDAR_A1')">
    <include file="$(find jethexa_peripherals)/launch/include/rplidar.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="serial_port" value="$(arg serial_port)" />
      <arg name="frame_id" value="$(arg tf_prefix)/$(arg frame_id)" />
      <arg name="serial_baudrate" value="115200" />
    </include>
    <node if="$(arg publish_tf)" 
          pkg="tf" 
          type="static_transform_publisher" 
          name="body_link_to_laser_link" 
	  	    args="0.0 0.0 0.12 3.1415926 0 0 $(arg tf_prefix)/body_link $(arg tf_prefix)/$(arg frame_id) 50">
    </node>
  </group>

  <!-- use RPLIDAR_A2 Lidar -->
  <group if="$(eval arg('lidar_type')=='RPLIDAR_A2')">
    <include file="$(find jethexa_peripherals)/launch/include/rplidar.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="serial_port" value="$(arg serial_port)" />
      <arg name="frame_id" value="$(arg tf_prefix)/$(arg frame_id)" />
      <arg name="serial_baudrate" value="256000" />
    </include>
    <node if="$(arg publish_tf)" 
          pkg="tf" 
          type="static_transform_publisher" 
          name="body_link_to_laser_link" 
	  	    args="0.0 0.0 0.11 3.1415926 0 0 $(arg tf_prefix)/body_link $(arg tf_prefix)/$(arg frame_id) 50">
    </node>
  </group>


  <!-- use EAI G2 Lidar -->
  <group if="$(eval arg('lidar_type')=='YDLIDAR_G2')">
    <include file="$(find jethexa_peripherals)/launch/include/ydlidar_g2.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="serial_port" value="$(arg serial_port)" />
      <arg name="frame_id" value="$(arg tf_prefix)/$(arg frame_id)" />
    </include>
    <node if="$(arg publish_tf)" 
          pkg="tf" 
          type="static_transform_publisher" 
          name="body_link_to_laser_link" 
	  	    args="0.0 0.0 0.031 0.0 0 0 $(arg tf_prefix)/body_link $(arg tf_prefix)/$(arg frame_id) 50">
    </node>
  </group>

  <!-- use EAI G4 Lidar -->
  <group if="$(eval arg('lidar_type')=='YDLIDAR_G4')">
    <include file="$(find jethexa_peripherals)/launch/include/ydlidar_g4.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="serial_port" value="$(arg serial_port)" />
      <arg name="frame_id" value="$(arg tf_prefix)/$(arg frame_id)" />
    </include>
    <node if="$(arg publish_tf)" 
          pkg="tf" 
          type="static_transform_publisher" 
          name="body_link_to_laser_link" 
	  	    args="0.0 0.0 0.031 0.0 0 0 $(arg tf_prefix)/body_link $(arg tf_prefix)/$(arg frame_id) 50">
    </node>
  </group>

  <node if="$(arg filter_enable)"
        pkg="laser_filters" 
        type="scan_to_scan_filter_chain" 
        output="screen" name="laser_filter">
    <rosparam command="load" file="$(find jethexa_peripherals)/config/laser_filter.yaml" />
    <remap from="scan" to="$(scanner_name)" />
    <!-- <remap from="/scan_filtered" to="/scan" /> -->
  </node>

</launch>
