<launch>
	<include file="$(find jethexa_bringup)/launch/rosbridge.launch"></include>
	<include file="$(find jethexa_description)/launch/description.launch"></include>
	<include file="$(find jethexa_peripherals)/launch/joystick_control.launch"></include>
	<include file="$(find jethexa_peripherals)/launch/oled_display.launch" />
	<include file="$(find jethexa_controller)/launch/jethexa_controller.launch">
		<arg name="odom_enable" value="false" />
	</include>
	<include file="$(find jethexa_peripherals)/launch/imu.launch">
		<arg name="freq" value="50" />
		<arg name="start_publish" value="false" />
	</include>
	<include file="$(find jethexa_peripherals)/launch/camera.launch"></include>	
</launch>
