<launch>
	<arg name="color" default="red"/>

	<include file="$(find jethexa_peripherals)/launch/camera.launch"></include>
	<include file="$(find lab_config)/launch/lab_config_manager.launch"></include>
	<include file="$(find jethexa_controller)/launch/jethexa_controller.launch"></include>

	<node name="face_tracking_node" pkg="jethexa_tutorial" type="ros_ai_creative_pilot_02_following.py" args="$(arg color)" output="screen">
	</node>
</launch>
