<launch>
	<arg name="color" default="red"/>

	<include file="$(find jethexa_peripherals)/launch/camera.launch"></include>
	<include file="$(find lab_config)/launch/lab_config_manager.launch"></include>

	<node name="color_detect" pkg="jethexa_tutorial" type="ros_opencv_tracking_01_color_blob.py" args="$(arg color)" output="screen">
	</node>
</launch>
