<launch>
	<arg name="color" default="red"/>

	<include file="$(find jethexa_peripherals)/launch/camera.launch"></include>
	<include file="$(find lab_config)/launch/lab_config_manager.launch"></include>

	<node name="color_tracking_node" pkg="jethexa_tutorial" type="ros_creative_kick_ball_02.py" args="$(arg color)" output="screen">
	</node>
</launch>
