<launch>
	<arg name="direction" default="90" />
	<include file="$(find jethexa_controller)/launch/jethexa_controller.launch"></include>

	<node name="simple_ctrl_06" pkg="jethexa_tutorial" type="simple_control_06_diagonally.py" args="$(arg direction)" output="screen" required="true">
	</node>

</launch>
